*{
    border:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    width:100%;
    height:100%;
    margin: 0;
  }
  .container{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
  }
  form > h1,p{
    text-align: center;
  }
  form{
    width:40%;
    display:flex;
    flex-direction: column;
    height: 100%;
  }
  label{
    font-weight: 500;
    margin-bottom: 10px;
  }
  form > input,button{
    height: 30px;
    font-weight: 400;  
    border: 1px solid black;
    border-radius: 5px;
  }
  form > input{
    text-indent: 20px;
    font-size: 15px;
    
  }
  form > button{
    height: 40px;
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
  }
  .chatcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    position:relative;
  }
  .container1{
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;

  }
  .container2{
    width: 70%;
    height:100vh;
    position: relative;
    border-left: 1px solid rgb(217, 228, 243);
  }
  .profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: rgb(240,242,245);
   height: 10vh;
  }
  .profile > button{
    cursor: pointer;
    padding: 5px;
    font-weight: 900;
  }
  .chatlist{
    cursor: pointer;
    border-bottom: 1px solid rgb(217, 228, 243);
  }
  .chatlist:hover{
    background-color: rgb(240,242,245);
  }
  .chathead{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240,242,245);
    height: 10vh;
  }
  .chathead > h1{
    margin: 0;
  }
  .inputbox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240,242,245);
    height: 10vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .inputbox > input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    text-indent: 10px;
    outline: none;
  }
  .inputbox > button {
width: 15%;
height: 40px;
cursor: pointer;
background-color: rgb(20,136,204);
  font-weight: bold;
  border-radius: 20px;
  color: white;
  border: 0;
  }
  .chat{
background-color: grey;
    overflow-y: scroll;
   height: 80vh;
   display: flex;
flex-direction: column-reverse;
  }
 .chatpop1{
  width:min-content;
  max-width: 60%;
  background-color: rgb(239,234,226);
  margin: 5px 0 5px 5%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
 }
 .p1{
  max-width:80%;
  overflow-wrap: break-word;
 }
 .p2{
  width:10rem;
  display: flex;
  align-items: flex-end;
  justify-content: end;
 }
 .p1 > p{
  text-align: left;
  margin-left: 10px;
 }
 .p2 > p{
  font-size: 0.7rem;
  margin-right: 10px;
  color:grey
 }
 .chatpop2{
  width:min-content;
  max-width: 60%;
  background-color: rgb(217,253,211);
  margin: 5px 5% 5px 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
 }
 .toggle{
  display:none;
 }
 .nfound{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .nfound > h1{
  color: red;
  text-align: center;
 }
 .logout{
  background-color: rgb(211, 89, 109);
  border: 0;
  color:white;
 }
 .addcontact{
  background-color: rgb(112, 150, 54);
  border: 0;
  color:white;
 }
 

 @media (max-width:600px){
  .container1{
    position: absolute;
    left:0;
    top:0;
    z-index:1;
    width:60%;
    transition: 1s;
  }
  .container2{
    width:100%;
  }
  .toggle{
    display:block;
    position: absolute;
    left:85vw;
    top:2vh;
    z-index: 2;
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
  }
  form{
    width: 80%;
  }
  .nfound{
    justify-content: flex-end;
  }
 }